/*	Text colors
***********************************/
.text-color-dark {
  color: #555 !important; }

.text-color-light {
  color: #eee !important; }

/*	Color Classes [with hover effects]
***********************************/
.blue {
  background-color: #1DB4C5 !important; }

.green {
  background-color: #85cd3f !important; }

.yellow {
  background-color: #EF9D27 !important; }

.orange {
  background-color: #F47838 !important; }

.red {
  background-color: #E1593D !important; }

.default-color {
  background-color: #85cd3f !important; }

.blue:hover {
  background-color: #168b99 !important; }

.green:hover {
  background-color: #6cac2d !important; }

.yellow:hover {
  background-color: #d38310 !important; }

.orange:hover {
  background-color: #ec590d !important; }

.red:hover {
  background-color: #cc3d1f !important; }

.default-color:hover {
  background-color: #6cac2d !important; }

/*	Color Classes [without hover effects]
***********************************/
.blue-no-hover {
  background-color: #1DB4C5 !important; }

.green-no-hover {
  background-color: #85cd3f !important; }

.yellow-no-hover {
  background-color: #EF9D27 !important; }

.orange-no-hover {
  background-color: #F47838 !important; }

.red-no-hover {
  background-color: #E1593D !important; }

.default-color-no-hover {
  background-color: #85cd3f !important; }

