@import 'configuration.scss';

/*	Text colors
***********************************/
.text-color-dark{color: $text-color-dark !important;}
.text-color-light{color: $text-color-light !important;}

/*	Color Classes [with hover effects]
***********************************/
.blue{ background-color: $blue !important;}
.green{background-color: $green !important;}
.yellow{background-color: $yellow !important;}
.orange{background-color: $orange !important;}
.red{background-color: $red !important;}
.default-color{background-color: $default-color !important;}

.blue:hover{ background-color: $blue-hover !important;}
.green:hover{background-color: $green-hover !important;}
.yellow:hover{background-color: $yellow-hover !important;}
.orange:hover{background-color: $orange-hover !important;}
.red:hover{background-color: $red-hover !important;}
.default-color:hover{background-color: $default-color-hover !important;}

/*	Color Classes [without hover effects]
***********************************/
.blue-no-hover{ background-color: $blue !important;}
.green-no-hover{background-color: $green !important;}
.yellow-no-hover{background-color: $yellow !important;}
.orange-no-hover{background-color: $orange !important;}
.red-no-hover{background-color: $red !important;}
.default-color-no-hover{background-color: $default-color !important;}