.event {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 350px;
  min-height: 200px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.event .title {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #555; }

.event .banner {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #F75725; }

.event .banner img {
  display: inline-block;
  width: 100%; }

.event .user-info {
  display: inline-block;
  width: 100%; }

.event .user-info img {
  display: inline-block;
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px -10px 10px rgba(0, 0, 0, 0.2); }

.event .user-info p {
  display: inline-block;
  float: left;
  margin-top: 30px;
  padding: 10px;
  font-weight: 600; }

.event .description {
  display: inline-block;
  width: 100%;
  padding: 20px 10px; }

.event .location {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px dotted #85cd3f; }

.event .location::before {
  display: inline-block;
  float: left;
  margin-top: -2px;
  margin-right: 10px;
  content: "\e062";
  color: #85cd3f;
  font-family: 'Glyphicons Halflings';
  font-size: 18px; }

.event .time-frame {
  display: inline-block;
  width: 100%;
  padding: 10px; }

.event .time-frame::before {
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  content: "\e023";
  color: #aaa;
  font-family: 'Glyphicons Halflings';
  font-size: 18px; }

.event .time-frame * {
  display: inline-block; }

.event .time-frame .from::after {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 10px;
  content: "\e080";
  color: #aaa;
  font-family: 'Glyphicons Halflings';
  font-size: 18px; }

.event .time-frame .date {
  text-transform: uppercase;
  color: #85cd3f;
  font-weight: 600; }

/*  Event Activity
*/
.event-activity {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #eee; }

.event-activity:not(:last-child) {
  padding-bottom: 0px;
  margin-bottom: 5px; }

.event-activity .header {
  display: inline-block;
  width: 100%; }

.event-activity .header .user-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  float: left; }

.event-activity .header .user-image img {
  display: inline-block;
  width: 100%; }

.event-activity .header .userName {
  display: inline-block;
  float: left; }

.event-activity .header .userName p {
  display: inline-block;
  width: 100%;
  float: left;
  text-align: left;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-right: 5px; }

.event-activity .header .activity-content,
.event-activity .header .activity-content span {
  display: inline-block; }

.event-activity .header .activity-content {
  float: left; }

.event-activity .header .activity-content span:nth-child(1) {
  color: #85cd3f;
  font-weight: 700;
  text-transform: capitalize; }

.event-activity .header .activity-content span:nth-child(2) {
  display: inline-block; }

.event-activity .header .activity-content span:nth-child(3) {
  color: #85cd3f;
  font-weight: 700;
  text-transform: capitalize; }

.event-activity .header .activity-content time {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #555;
  float: right;
  text-transform: capitalize; }

.event-activity .header .activity-content time:before {
  display: inline-block;
  content: "\f073";
  font: normal normal normal 14px/1 FontAwesome;
  color: #aaa;
  font-size: 16px;
  line-height: 16px;
  margin-right: 5px; }

.event-activity .header .userName .description {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  text-align: left;
  text-transform: capitalize; }

/* action buttons
*/
#action-buttons {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 50px; }

#action-buttons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #4CAF50;
  border: 1px solid #F2F5F7; }

#action-buttons a:hover,
#action-buttons a:focus {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #85cd3f; }

#action-buttons a i.fa {
  color: #fff;
  margin: 0;
  font-size: 20px;
  line-height: 50px; }

/*  upcoming events
*/
.event.upcoming {
  display: inline-block;
  width: 48%;
  margin: 0 20px 50px 0;
  float: left;
  box-shadow: none;
  background-color: #cbd6db;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2); }

.event.upcoming .header {
  display: inline-block;
  width: 100%;
  float: left; }

.event.upcoming .header .title {
  display: inline-block;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  color: #85cd3f;
  font-weight: 700;
  font-family: "Droid Sans";
  background-color: #fff;
  float: left;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px; }

.event.upcoming .header .banner {
  border: none;
  display: inline-block;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #CCD1D9;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  box-shadow: none;
  float: left;
  overflow: hidden; }

.event.upcoming .header .banner div {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.event.upcoming .header .banner div img {
  display: inline-block;
  width: 100%; }

.event.upcoming .header .interactions {
  display: inline-block;
  width: 100%;
  float: left;
  background-color: #fff; }

.event.upcoming .header .interactions a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #85CD3F;
  color: #fff;
  font-weight: 700;
  float: right; }

.event.upcoming .header .interactions > a:last-child {
  /*border-radius: 0px 0 0 10px;*/ }

.event.upcoming .header .interactions a:not(:last-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.2); }

.event.upcoming .header .interactions a:hover,
.event.upcoming .header .interactions a:focus {
  background-color: #00aa00;
  text-decoration: none; }

.event.upcoming .header .interactions a .fa {
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 50%;
  float: right; }

.event.upcoming section.where,
.event.upcoming section.when {
  padding: 15px 20px;
  border-bottom: 1px solid #ecf7e1; }

.event.upcoming section.where .fa,
.event.upcoming section.when .fa {
  font-size: 20px;
  color: #9fd867; }

.event.upcoming section.when {
  display: inline-block;
  width: 100%;
  float: left;
  background-color: #fff; }

.event.upcoming section.where {
  display: inline-block;
  width: 100%;
  float: left;
  background-color: #fff; }

.event.upcoming section.who {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #fff; }

.event.upcoming section.who .organizer {
  display: inline-block;
  width: 24%;
  float: left; }

.event.upcoming section.who .organizer .organizer-image {
  border: none;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50px;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  box-shadow: none;
  float: left;
  overflow: hidden;
  border-radius: 50%; }

.event.upcoming section.who .organizer .organizer-image div {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.event.upcoming section.who .organizer .organizer-image img {
  display: inline-block;
  width: 100%; }

.event.upcoming section.who .attendees {
  display: inline-block;
  width: 70%;
  float: right; }

.event.upcoming section.who .attendees .attendee {
  border: none;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50px;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  box-shadow: none;
  background-color: #cbd6db;
  float: right;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2px; }

.event.upcoming section.who .attendees .attendee div {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.event.upcoming section.who .attendees .attendee img {
  display: inline-block;
  width: 100%;
  height: 100%; }

#notfications {
  display: inline-block;
  position: fixed;
  width: 300px;
  bottom: 0;
  left: 10px; }

#notfications .notification {
  display: inline-block;
  width: 100%;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin: 10px 0 10px 0; }

