@import 'Custom/configuration.scss';

/* Sitewide styling
***********************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	font-family: $site-font-family;
	color: $text-color-dark;
	font-size: $site-font-size;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	background-color: $light;
}

#mainContainer {
    width: 900px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}
#siteTitle{
    background-color: $default-color;
    display: none;
}
#siteTitle h1{
    color: $text-color-light;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

/*::selection{
	background-color: $site-text-highlight-color;
}*/
hr {
	background: 0 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-top: 1px solid rgba(0, 0, 0, .1);
}
a,
a:hover{
    color: $text-color-default;
}
h1, h2, h3, h4{
	font-weight: 500;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
#contentWrap > .container-fluid{
    margin-top: 0px;
    padding-top: 20px;
}
header{
	display: inline-block;
	background-color: #fff;
	width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	z-index: 1030;
}
header #logo{
    display: inline-block;
    width:100%;
    height: 50px;
    line-height: 50px;
    color: $default-color;
    text-align: center;
}
header #logo img{
    display: inline-block;
    width: 200px;
}


header #desktopNav{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
header #desktopNav ul{
    display: inline-block;
    list-style:none;
    margin: auto;
}
header #desktopNav ul li{
    float: left;
}
header #desktopNav ul li a{
    display: inline-block;
    
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: $default-color;



    border: 2px solid $green-hover;
    border-radius: 15px;
    margin-right: 2px;
}
header #desktopNav ul li a:hover,
header #desktopNav ul li a:focus{
    background-color: $green-hover;
    color: #fff;
}

/* Sticky footer
**************************************/
.navbar-inverse{
    background-color: $default-color;
}

/* Sticky footer
**************************************/
//The html and body elements cannot have any padding or margin.
html,
body {
	height: 100%;
}
//Wrapper for page content to push down footer
#contentWrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height + margin-top value*/
	margin: 0 auto -100px 0px;
	width: 100%;
	padding-bottom: 90px;
}
footer {
	height: 100px;
	line-height: 80px;
	margin-top: 40px;
	padding: 10px;
	background-color: #34495E;
	color: #eee;
	text-align: center;
}
footer span{color: #eee;}