@model IQueryable<_20LHWebPortal.Models.HangoutViewModel>

@{
    ViewBag.Title = "My Hangouts";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_UpcomingHangoutPartial", item)
        </div>
    </div>

}

<!--Edit Event Modal-->
<div id="edit-event-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-url="@Url.Action("Edit", "Hangout")" data-redirect-url="@Url.Action("MyHangouts", "Hangout")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Edit Event</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" id="edit-event-modal-content">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div href="#" class="button green" data-button-type="edit-event-save">
                            Save
                            <i class="fa fa-chevron-right text-color-light"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/Events.js"></script>