@model _20LHWebPortal.Models.UserViewModel

<h4>Member</h4>


<h3>@Model.Name</h3>
@if(false) //need to check if no picture then show default.
{
    <div>
        No picture.
    </div>
}
else
{
    //var imgUrl = Url.Content("~/Content/Images/profile" + User.Identity.Name + ".png") + "?time=" + DateTime.Now.ToString();
    <div class="upimage">
        <div class="accimg">
            @{
                var base64 = Convert.ToBase64String(Model.ImageContent);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }
            <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/user.png'"/>
        </div>
    </div>
}

@for (var i = 0; i < Model.UserRating; i++)
{
    <span style="font-size: 30px" class="glyphicon glyphicon-star"></span>
}
@{
    var empty = 5 - Model.UserRating;
    for (var i = 0; i < empty; i++)
    {
        <span style="font-size: 30px" class="glyphicon glyphicon-star-empty"></span>
    }
}

<h4># Hangouts hosted</h4>

<h4># Hangouts attended</h4>

<h4>@Model.NoShows no shows</h4>

