
<h2>
    Connect and Find Your Community
</h2>

<h4>Welcome to the 20LetsHang community!</h4>

20LetsHang is a community built by 20-somethings for 20-somethings. The idea behind 20LetsHang is that we (a couple of friends with too much time on their hands) wanted to grow a community that allows 20-somethings to be able to effortlessly connect and find their communities after college. Basically, we're trying to answer that age-old question-

"How do I make friends after college?"

Whether you are new in town, just graduated college, or are simply looking to expand your social circle, we hope that you too can connect and find your community with 20LetsHang!  
</p>
