@{
    ViewBag.Title = "Commonly Asked Questions";
}


<h4>
    Do I need Facebook to create an account?
</h4>
<h6>
    Yes, we use Facebook to make sure that you are a real person. 20LetsHang will never post anything on your Facebook.
</h6>

<h4>
    Can I message other users?
</h4>
<h6>
    No. We encourage users to use hangouts as a way to connect offline.
</h6>

<h4>
    Why is the attendance limit 10?
</h4>
<h6>
    We found that people are most comfortable in small group environments where they can get to know one another.
</h6>

<h4>
    When can I cancel my RSVP?
</h4>
<h6>
    Anytime. However if you cancel your RSVP within 24 hours of the hangout, you will automatically receive a No Show. Users with 3 No Shows will not be able to join a Hangout.
</h6>

<h4>
    When can I cancel a hangout I'm hosting?
</h4>
<h6>
    Anytime. However if you cancel your hangout within 24 hours of the hangout, you will automatically receive a 0 star organizer rating.
</h6>


