@model _20LHWebPortal.Models.UserGravatarModel
@{
        ViewBag.Title = "20LH Home Page";
}

<br /><p><b>Page will redirect to HTML5 APIs in 3 seconds.</b></p>
@*<meta http-equiv="refresh" content="3; URL=test.html">*@
@*<a href="~/Home/test.html">Test page</a>*@

<meta http-equiv="refresh" content="3; URL=/Home/test.html">

