@{
    ViewBag.Title = "Looking for fun stuff to do?";
}


<h2>
    Check out these resources!
</h2>

<dl>
    <dt>San Francisco</dt>
        <dd>Groupon</dd>
        <dd>Goldstar</dd>
        <dd>Living Social</dd>
        <dd>Yelp</dd>
        <dd>Eventbrite</dd>
        <dd>Fun & Cheap</dd>
    <dt>South Bay</dt>
        <dd>Groupon</dd>
        <dd>Goldstar</dd>
        <dd>Living Social</dd>
        <dd>Yelp</dd>
        <dd>Eventbrite</dd>
        <dd>Fun & Cheap</dd>
</dl>