@model _20LHWebPortal.Models.ActivityViewModel

@{
    Layout = null;
}


<div class="event-activity">
    <div class="header">
        <div class="user-image">
            <img src="/Content/Images/user.png" alt="user photo"/>
        </div>
        <div class="userName">
            <p>@Model.username</p>
            <time class="timeago" datetime=@Model.timeStamp.ToString("o")></time>
            <div class="description">
                @{
                    var activity = " ";
                    if (Model.activityType == 0)
                    {
                        activity = "created";
                    }
                    else if (Model.activityType == 1)
                    {
                        activity = "joined";
                    }
                    @activity
                    @Model.hangoutName
                }

            </div>
        </div>
    </div>
   
</div>