@model _20LHWebPortal.Models.ActivityViewModel

@{
    Layout = null;
}


<div class="event-activity">
    <div class="header">
        <div class="user-image">
            <img src="/Content/Images/user.png" alt="user photo"/>
        </div>
        <div class="activity-content">
            @{
                var activity = " ";
                if (Model.activityType == 0)
                {
                    activity = "created ";
                }
                else if (Model.activityType == 1)
                {
                    activity = "joined ";
                }
                <span>@Model.name&nbsp;</span>
                <span>@activity&nbsp;</span>
                <span>@Model.hangoutName</span>
            }
            <time class="timeago" datetime=@Model.timeStamp.ToString("o")></time>
        </div>
    </div>
</div>