@model _20LHWebPortal.Models.ActivityViewModel

@{
    Layout = null;
}
<head>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>


    <script>
        var $j = jQuery.noConflict();
$j(document).ready(function() {
  $j("time.timeago").timeago();
});
    </script>
</head>


<div class="event">
    <div class="title">
        <img src="/Content/Images/user.png" alt="user photo" />
        @{
            var activity = " ";
            if (Model.activityType == 0)
            {
                activity = "created";
            }
            else if (Model.activityType == 1)
            {
                activity = "joined";
            }
            <p>
                @Model.username @activity 
                @Model.hangoutName at <time class="timeago" datetime=@Model.timeStamp></time>
                
            </p>
        }
        
    </div>
    
    <div class="description">
        
        
        
    </div>
</div>


